body { width: 100%; margin: 0; font-family: 'Open Sans', sans-serif; }
a:hover, a:focus { text-decoration: none; }
$blue: #007ee5;
.clearfix { overflow: auto; clear: both; }

/***************************
		Login page
****************************/

.login-background { max-height: 1200px; min-height: 600px; height: 100vh; background: url(../img/fullscreen_bg_image.jpg) no-repeat; background-size: cover; padding-top: 10%; }
.login { background: #fff; border-radius: 4px; box-shadow: 0px 4px 16px 0px rgba(58, 75, 93, 0.27); max-width: 503px; width: 100%; margin: 0 auto;
  padding: 20px 50px 20px 53px; }
.login__title { text-align: center; color: #333333; }
.login__form { }
.login__wrap-input { }
.login__line { border-bottom: 1px solid #d0dce7; margin: 30px 0; }
.login__input { border: none; border-bottom: 1px solid #d0dce7; display: block; width: 100%; outline: none; margin-bottom: 35px;
	font-size: 16px; color: #53585c; padding-bottom: 5px; }
.login__input::-webkit-input-placeholder {color:#53585c;}
.login__label { font-size: 12px; font-weight: normal; color: #a6b0b7; }
.login__privacy-policy { display: block; text-align: center; color: #a8b8c4; padding: 0 20px; margin-bottom: 25px; }
.login__privacy-policy-link { color: $blue; }
.login__privacy-policy-link:hover { text-decoration: none; }
.login__input_submit { background: $blue; border-radius: 3px; color: #fff; font-weight: bold; padding: 15px 0; margin-bottom: 0; }

@media only screen and (max-width: 500px) {
	.login { box-shadow: none; }
	.login-background { background: none; padding: 0; min-height: 100vh; }
	.login__privacy-policy { padding: 0; text-align: left; }
	.login { padding: 0; }
	.login__title { padding: 30px 0 100px 0; margin-top: 0; }
	.login__wrap-input { padding: 0 46px; }
	.login__input_submit { position: absolute; bottom: 0; }
	.login__line { display: none; }
}

/*****************************
		Profile about
******************************/

.profile-wrapper { background: #f5f8f9; padding: 71px 0 0 0; }
.profile-header { padding-top: 32px; background: #fff; } 
.profile-logout { float: right; background: #fff; border: 1px solid $blue; border-radius: 3px; color: $blue; font-weight: bold; 
	padding: 4px 15px; }
.profile-upload-foto { border: 1px solid #d0dce7; border-radius: 3px; padding: 4px 18px; color: #7b8790; margin-top: 20px; display: inline-block; }
.profile-upload__wrapper { text-align: center; }
.profile-upload-foto__camera { font-size: 24px; color: #d0dce7; vertical-align: middle; padding-right: 15px; }
.profile-img__wrap {  position: relative; }
.profile-img { position: absolute; box-shadow: 1px 1px 33px 0px rgba(58, 75, 93, 0.27); }
//profile__details
.profile__details { padding: 0 0 0 20px; }
.profile-info__details_mobile { display: none; }
.profile__details-title { color: #3f454a; font-size: 20px; margin-top: 50px; }
.profile__details-location, .profile__details-phone { display: block; color: #3f454a; margin-bottom: 7px; }
.profile__details-icon { color: #939699; padding-right: 10px; }
//profile__reviews
.profile__reviews { margin-top: 50px; }
.profile__reviews-star { width: 75%; float: left; padding-left: 35%; }
.profile__reviews-result { width: 25%; float: left; }
.profile__reviews-star-full { color: #727e88; font-size: 16px; }
.profile__reviews-result-number { color: #727e88; padding-right: 5px; font-size: 12px; } 
.profile__reviews-result-link { color: #727e88; font-size: 12px; cursor: pointer; } 
//profile__nav
.profile__nav { box-shadow: 0px 0.3px 4px 0px rgba(58, 75, 93, 0.27); }
.profile__nav-wrap { padding-left: 20px; }
.profile__nav-link { display: inline-block; text-transform: uppercase; cursor: pointer; color: #3f454a; padding: 15px 0; margin-right: 22px; }
.profile__nav-link_active, .profile__nav-link:hover { border-bottom: 2px solid $blue; }
.profile__nav-follow { padding: 10px 0 0 33%; }
.profile__nav-follow_mobile { display: none; }
.profile__nav-follow-icon { font-size: 22px; cursor: pointer; color: #a6b0b7; vertical-align: sub; }
.profile__nav-follow-number { color: #3f454a; margin: 0 2% 0 7%; }
.profile__nav-follow-link { cursor: pointer; color: #a6b0b7; font-size: 12px; }

/* Profile info */
.profile-info { background: #fff; box-shadow: 0px 0.3px 4px 0px rgba(58, 75, 93, 0.27); max-width: 1170px; width: 100%; margin: 0 auto; margin-top: 37px; padding: 37px; }
.profile-info__wrap {  }
.profile-info__title { color: #727e88; margin: 10px 0 40px 0; }
.profile-info__details { font-size: 0; margin-bottom: 1px; }
.profile-info__details-main { background: #f5f8f8; cursor: pointer; color: #3f454a; padding: 5px 13px 5px 10px; display: inline-block;}
.profile-info__details-main_name { font-weight: 600; font-size: 16px; }
.profile-info__details-icon { padding: 7px 10px 6px 10px; background: #ecf1f5; cursor: pointer; color: #727e88; font-size: 14px; }
.profile-info__details-icon_mobile, .profile-info__details-main_mobile { display: none; }
.profile-info__details-icon:hover { background: $blue; color: #fff; transition: 500ms; }
.profile-info__details-icons { font-size: 14px; color: #a8b8c4; padding-right: 10px; }
.profile-info__details-link  { font-size: 14px; color: #3f454a; }
.profile-info__details-main_more { padding: 7px 13px 5px 10px; }
.profile-info__buttons-mobile { display: none; }
.profile-info__settings { display: none; }
.profile-info__settings-form {  }
.profile-info__settings-wrap {  }
.profile-info__setting-input { border: none; border-bottom: 1px solid #d0dce7; margin-bottom: 25px; padding-bottom: 5px; font-size: 16px; max-width: 270px;
	width: 270px; display: block; outline: none; }
.profile-info__setting-input::-webkit-input-placeholder { color: #3f454a; }	
.profile-info__setting-btn-wrap {  }
.profile-info__save-btn { background: $blue; border-radius: 3px; border: none; color: #fff; padding: 6px 30px; text-transform: uppercase; font-weight: bold; }
//popover
.popover-title { background: #fff; color: #a6b0b7; font-size: 12px; border-bottom: 0;  }
.popover-title__main { color: #a6b0b7; font-size: 16px; margin: 10px 0 2px 0; border: none; border-bottom: 1px solid #d0dce7; 
  padding-bottom: 5px; outline: none; display: block; width: 100%;}
.popover-save-btn { background: $blue; color: #fff; border: none; border-radius: 4px; font-weight: bold; padding: 5px 30px; margin-right: 25px; }
.profile-logout_popover { padding: 5px 30px; margin-right: 30px; }
.popover-content { padding: 15px 15px; }
.popover { max-width: 320px; }
.popover-title__main::-webkit-input-placeholder {color:#3f454a !important;}
.profile-edit { display: none; }


@media only screen and (max-width: 1200px) {
	.profile__details { padding: 0 0 0 40px;}
	.profile__nav-wrap { padding-left: 40px;}
	.profile__nav-follow { padding-left: 13%; }	
	.profile__reviews-star { width: 65%; padding-left: 17%; }
	.profile__reviews-result { width: 35%; }
	.profile-info { max-width: 970px; }
}
@media only screen and (max-width: 991px) {
	.profile__reviews-star { width: 60%; padding-left: 0%;}
	.profile__reviews-result { width: 40%;}
	.profile__nav-wrap { padding-left: 65px;}
	.profile__nav-link { margin-right: 7px; }
	.profile__details { padding: 0 0 0 69px;}
	.profile-info { max-width: 750px; }
}
@media only screen and (max-width: 767px) {
	.profile-logout { border: none; font-weight: 600; background: #f5f8f9; } 
	.profile-upload-foto { display: none; }
	.profile-img { position: inherit; margin-top: 20px; }
	.profile-img__wrap { text-align: center; }
	.profile__details { padding-left: 0; }
	.profile__details-title { text-align: center; margin-top: 10px; }
	.profile__reviews { margin-top: 0; }
	.profile__reviews-star, .profile__reviews-result { float: none; width: 100%; }
	.profile__reviews-star-full { color: $blue; font-size: 20px; }
	.profile__wrap-details-icon { display: flex; flex-direction: column-reverse;}
	.profile-header { background: #f5f8f9; }
	.profile-wrapper { padding: 0; }
	.profile__nav-wrap { padding-left: 0; }
	.profile__nav-follow_mobile { display: block; padding: 0; }
	.profile__nav-follow-number { margin: 0 4px; }
	.profile__nav-mobile { min-width: 400px; }
	.profile__nav-mobile-wrap { overflow: auto; background: #fff; }
	.profile-info { margin-top: 10px; padding: 15px; }
	.profile-info__title { margin: 0 0 10px 0; }
	.profile-info__details-main { background: none; }
	.profile-info__details-icon_hidden, .popover-markup { display: none; }
	.profile-info__details-icon_mobile { display: inline-block; float: right; cursor: pointer; }
	.profile-info__details-main_mobile { display: block; font-size: 14px; margin-bottom: 10px; }
	.profile-info__details_mobile { display: block; }
	.profile-info__buttons-mobile { float: right; }
	.profile-info__links { font-size: 14px; font-weight: normal; color: $blue; text-transform: uppercase; }
	.profile-info__title_settings { float: left; }
	.profile-info__buttons-mobile_settings { display: block; float: right; margin-top: 10px; }
	.profile-info__save-btn { display: none; }
	//profile-edit

	.profile-edit__wrap { margin-bottom: 10px; }
	.profile-edit__label { display: block; font-size: 12px; font-weight: normal; color: #a6b0b7; text-transform: uppercase; margin-bottom: 0; }
	.profile-edit__input { display: block; width: 100%; border: none; border-bottom: 1px solid #d0dce7; padding: 0 0 4px 0; outline: none; }
	.profile-edit__input::-webkit-input-placeholder { color: #3f454a; }
	.profile-info__links_save { margin-left: 15px; }
	

}







